- unless record.domain.slave?
  %div{ :style => "display: none;" } 
    %div{ :id => "record-template-edit-#{record.id}" }= t :label_domain_edit_record 
    %div{ :id => "record-template-delete-#{record.id}" }= t :label_domain_delete_record 

%tr[ record, :marker ]
%tr[ record, :show ]
  %td{ :width => 30 }
    - if MUNIN.available
      - if record.status?
        - if record.status =="normal"
          = link_to_function prototip_info_icon('sts_normal.png', 'normal'),"checkRecord(#{@domain.id},#{record.id})"
        - if record.status =="warning"
          = link_to_function prototip_info_icon('sts_warning.png', 'warning'), "checkRecord(#{@domain.id},#{record.id})" 
        - if record.status =="critical"
          = link_to_function prototip_info_icon('sts_critical.png', 'critical'), "checkRecord(#{@domain.id},#{record.id})" 
        - if record.status =="unknown" || record.status =="connectionerr" 
          = link_to_function prototip_info_icon('sts_unknown.png', 'unknown'), "checkRecord(#{@domain.id},#{record.id})" 
      - else
        = link_to_function prototip_info_icon('sts_unknown.png', 'unknown'), "checkRecord(#{@domain.id},#{record.id})" 
  %td{ :width => 250 }= record.shortname
  %td{ :width => 50 }= record.ttl
  %td{ :width => 30 }= record.type
  %td{ :width => 30 }= record.prio
  %td{ :width => 250 }= record.content
  %td{ :width => 60 }
    - unless record.domain.slave?
      - if current_user || current_token.can_change?( record )
        = link_to_function prototip_info_icon('database_edit.png', "record-template-edit-#{record.id}"), "stopCheckStatus_#{record.id}(),editRecord(#{record.id}, '#{record.type.to_s.downcase}')"
      - if current_user || current_token.can_remove?( record )
        = link_to prototip_info_icon('database_delete.png', "record-template-delete-#{record.id}"), domain_record_path( record.domain, record ), :method => :delete, :confirm => t(:confirm_domain_delte_record)
      - if MUNIN.available && record.type =="A"
        = link_to prototip_info_icon('performance.png', 'performance'), MUNIN.url+@domain.name+"/"+record.name+"/"+record.id.to_s+"/index.html", {:target => "_blank"} 

- unless record.domain.slave?
  - if current_user || current_token.can_change?( record )
    %tr[ record, :edit ]{ :style => "display: none;" }
      %td{ :colspan => 7 }
        - remote_form_for( :record, record, :url => domain_record_path(record.domain, record, :format => :js), :html => { :method => :put }) do |f|
          %div[ record, :error ]
            %table.gridwide
              %tr
                %td{ :width => 250 }= f.text_field :shortname, :size => 15
                %td{ :width => 50 }= f.text_field :ttl, :size => 3
                %td{ :width => 30 }= record.type
                %td{ :width => 30 }
                  - if record.supports_prio?
                    = f.text_field :prio, :size => 2
                  - else
                    &nbsp;
                %td{ :width => 250 }= f.text_field :content, :size => 15
                %td{ :width => 39 }
                  = image_submit_tag "table_save.png", { :class => 'nb' }
                  = link_to_function image_tag("cancel.png"), "hideRecord(#{record.id}, '#{record.type.downcase}')"
                  
:javascript
  tid_#{record.id} = setInterval("checkRecord(#{@domain.id},#{record.id})",3*1000);
  function startCheckStatus_#{record.id}(){
    tid_#{record.id} = setInterval("checkRecord(#{@domain.id},#{record.id})",3*1000);
  }
  function stopCheckStatus_#{record.id}(){
    clearInterval(tid_#{record.id});
    return tid_#{record.id};
  }
  
  
